.card{
    display: inline-block;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 400px;
    height: 460px;
    margin: 40px;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 5px 5px grey;
    margin-bottom: 150px;
}

.img{
    width: 200px;
    height: 250px;
}

.buttonDetail{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
}

