

.Navbar {
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: black;
    border-bottom: 1px solid black;
    
    
}

.button{
    background-color:rgb(5, 5, 5);
    padding: 8px;
    margin:10px;
    color: aliceblue;
    border-radius: 7px;
    text-decoration: none;
}


