

.Navbar {
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: black;
    border-bottom: 1px solid black;
    
}



/*ver porque no funciona*/