.footer {
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    padding: 15px;
    background-color: black;
    
}
