.counter{
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-left: 215px;  
    margin-bottom: 20px;
    padding: 2px;
    width: 120px;
    border: 1px solid black;
    color: black;
    
}


.counterButton{
    background-color: black;
    color: white;
    padding: 7px;
    font-size: 1rem;
}