.counter{
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-left: 190px;  
    margin-bottom: 20px;
    width: 120px;
    border: 1px solid black;
    color: black;
    
}